[package]
name = "cosmic"
version = "0.1.0"
authors = []
edition = "2021"
publish = false

[dependencies]
libcosmic = { path = "../..", default-features = false, features = ["debug", "wgpu", "winit"] }
