Dark (
    (
        name: "cosmic-dark",
        blue: (
            c: "#94EBEB",
        ),
        red: (
            c: "#FFB5B5",
        ),
        green: (
            c: "#ACF7D2",
        ),
        yellow: (
            c: "#FFF19E",
        ),
        gray_1: (
            c: "#1B1B1B",
        ),
        gray_2: (
            c: "#262626",
        ),
        gray_3: (
            c: "#303030",
        ),
        neutral_0: (
            c: "#000000",
        ),
        neutral_1: (
            c: "#1B1B1B",
        ),
        neutral_2: (
            c: "#303030",
        ),
        neutral_3: (
            c: "#474747",
        ),
        neutral_4: (
            c: "#5E5E5E",
        ),
        neutral_5: (
            c: "#777777",
        ),
        neutral_6: (
            c: "#919191",
        ),
        neutral_7: (
            c: "#ABABAB",
        ),
        neutral_8: (
            c: "#C6C6C6",
        ),
        neutral_9: (
            c: "#E2E2E2",
        ),
        neutral_10: (
            c: "#FFFFFF",
        ),
        ext_warm_grey: (
            c: "#9B8E8A",
        ),
        ext_orange: (
            c: "#FFAD00",
        ),
        ext_yellow: (
            c: "#FEDB40",
        ),
        ext_blue: (
            c: "#48B9C7",
        ),
        ext_purple: (
            c: "#CF7DFF",
        ),
        ext_pink: (
            c: "#F93A83",
        ),
        ext_indigo: (
            c: "#3E88FF",
        ),
        accent_warm_grey: (
            c: "#554742",
        ),
        accent_orange: (
            c: "#AF5C02",
        ),
        accent_yellow: (
            c: "#966800",
        ),
        accent_purple: (
            c: "#813FFF",
        ),
        accent_pink: (
            c: "#F93A83",
        ),
        accent_indigo: (
            c: "#3E88FF",
        ),
    )
)