Light (
    (
        name: "cosmic-light",
        blue: (
            c: "#00496D",
        ),
        red: (
            c: "#A0252B",
        ),
        green: (
            c: "#3B6E43",
        ),
        yellow: (
            c: "#966800",
        ),
        gray_1: (
            c: "#DDDDDD",
        ),
        gray_2: (
            c: "#E8E8E8",
        ),
        gray_3: (
            c: "#F3F3F3",
        ),
        neutral_0: (
            c: "#FFFFFF",
        ),
        neutral_1: (
            c: "#E2E2E2",
        ),
        neutral_2: (
            c: "#C6C6C6",
        ),
        neutral_3: (
            c: "#ABABAB",
        ),
        neutral_4: (
            c: "#919191",
        ),
        neutral_5: (
            c: "#777777",
        ),
        neutral_6: (
            c: "#5E5E5E",
        ),
        neutral_7: (
            c: "#474747",
        ),
        neutral_8: (
            c: "#303030",
        ),
        neutral_9: (
            c: "#1B1B1B",
        ),
        neutral_10: (
            c: "#000000",
        ),
        bright_green: (
            c: "#00572C",
        ),
        bright_red: (
            c: "#890418",
        ),
        bright_orange: (
            c: "#792C00",
        ),
        ext_warm_grey: (
            c: "#9B8E8A",
        ),
        ext_orange: (
            c: "#FBB86C",
        ),
        ext_yellow: (
            c: "#F7E062",
        ),
        ext_blue: (
            c: "#6ACAD8",
        ),
        ext_purple: (
            c: "#D58CFF",
        ),
        ext_pink: (
            c: "#FF9CDD",
        ),
        ext_indigo: (
            c: "#95C4FC",
        ),
        accent_blue: (
            c: "#00525A",
        ),
        accent_red: (
            c: "#78292E",
        ),
        accent_green: (
            c: "#185529",
        ),
        accent_warm_grey: (
            c: "#554742",
        ),
        accent_orange: (
            c: "#624000",
        ),
        accent_yellow: (
            c: "#534800",
        ),
        accent_purple: (
            c: "#68217C",
        ),
        accent_pink: (
            c: "#86043A",
        ),
        accent_indigo: (
            c: "#2E496D",
        ),
    )
)
