[package]
name = "libcosmic"
version = "0.1.0"
edition = "2021"

[lib]
name = "cosmic"

[features]
default = ["wayland"]
debug = ["iced/debug"]
wayland = ["iced/wayland"]
wgpu = ["iced/wgpu"]
winit = ["iced/winit", "iced_winit"]
applet = ["cosmic-panel-config", "sctk"]

[dependencies]
freedesktop-icons = {git = "https://github.com/wash2/freedestkop-icons"}
apply = "0.3.0"
derive_setters = "0.1.5"
lazy_static = "1.4.0"
palette = "0.6.1"
cosmic-panel-config = {git = "https://github.com/pop-os/cosmic-panel", default-features = false, optional = true }
sctk = { package = "smithay-client-toolkit", git = "https://github.com/Smithay/client-toolkit", optional = true, rev = "f1d9c3e" }

[dependencies.cosmic-theme]
git = "https://github.com/pop-os/cosmic-theme.git"

[dependencies.iced]
path = "iced"
default-features = false
features = ["image", "svg"]

[dependencies.iced_core]
path = "iced/core"

[dependencies.iced_lazy]
path = "iced/lazy"

[dependencies.iced_native]
path = "iced/native"

[dependencies.iced_style]
path = "iced/style"

[dependencies.iced_winit]
path = "iced/winit"
optional = true

[dependencies.iced_wgpu]
path = "iced/wgpu"

[workspace]
members = [
  "examples/*",
]
exclude = [
  "iced",
]
