[package]
name = "libcosmic"
version = "0.1.0"
edition = "2021"

[dependencies]
cascade = "1"
gdk4 = "0.3.1"
gdk4-x11 = "0.3.0"
gio = "0.14.8"
gtk4 = "0.3.1"
x11 = { version = "2", features = ["xlib"] }
# examples/launcher
pop-launcher = "=1.0.3"
serde_json = "1.0.70"
once_cell = "1.8.0"
