[package]
name = "libcosmic"
version = "0.1.0"
edition = "2021"

[lib]
name = "cosmic"

[features]
default = ["tiny_skia", "winit", "tokio", "a11y"]
debug = ["iced/debug"]
a11y = ["iced/a11y", "iced_accessibility"]
tiny_skia = ["iced/tiny-skia", "iced_tiny_skia"]
wayland = ["iced/wayland", "iced_sctk"]
wgpu = ["iced/wgpu", "iced_wgpu"]
tokio = ["dep:tokio", "iced/tokio"]
winit = ["iced/winit", "iced_winit"]
applet = ["cosmic-panel-config", "sctk", "wayland"]
winit_tiny_skia = ["winit", "tiny_skia"]
winit_wgpu = ["winit", "wgpu"]

[dependencies]
apply = "0.3.0"
derive_setters = "0.1.5"
lazy_static = "1.4.0"
palette = "0.6.1"
tokio = { version = "1.24.2", optional = true }
cosmic-panel-config = {git = "https://github.com/pop-os/cosmic-panel", optional = true }
sctk = { package = "smithay-client-toolkit", git = "https://github.com/Smithay/client-toolkit", optional = true, rev = "389a4f2" }
slotmap = "1.0.6"
fraction = "0.13.0"
cosmic-config = { path = "cosmic-config" }

[target.'cfg(unix)'.dependencies]
freedesktop-icons = "0.2.2"

[dependencies.cosmic-theme]
path = "cosmic-theme"

[dependencies.iced]
path = "iced"
default-features = false
features = ["image", "svg", "lazy"]

[dependencies.iced_runtime]
path = "iced/runtime"

[dependencies.iced_core]
path = "iced/core"

[dependencies.iced_widget]
path = "iced/widget"

[dependencies.iced_accessibility]
path = "iced/accessibility"

optional = true
[dependencies.iced_tiny_skia]
path = "iced/tiny_skia"
optional = true

[dependencies.iced_style]
path = "iced/style"

[dependencies.iced_sctk]
path = "iced/sctk"
optional = true

[dependencies.iced_winit]
path = "iced/winit"
optional = true

[dependencies.iced_wgpu]
path = "iced/wgpu"
optional = true

[workspace]
members = [
  "cosmic-config",
  "cosmic-config-derive",
  "cosmic-theme",
  "examples/*",
]
exclude = [
  "iced",
]
