[package]
name = "libcosmic"
version = "0.1.0"
edition = "2021"

[lib]
name = "cosmic"

[features]
default = ["wayland", "applet"]
debug = ["iced/debug"]
wayland = ["iced/wayland"]
wgpu = ["iced/wgpu"]
winit = ["iced/winit", "iced_winit"]
applet = ["cosmic-panel-config", "sctk"]

[dependencies]
freedesktop-icons = {git = "https://github.com/wash2/freedestkop-icons"}
apply = "0.3.0"
derive_setters = "0.1.5"
lazy_static = "1.4.0"
palette = "0.6.1"
cosmic-panel-config = {git = "https://github.com/pop-os/cosmic-panel", default-features = false, optional = true }
sctk = { package = "smithay-client-toolkit", git = "https://github.com/Smithay/client-toolkit", optional = true }

[dependencies.cosmic-theme]
git = "https://github.com/pop-os/cosmic-theme.git"

[dependencies.iced]
git = "https://github.com/pop-os/iced.git"
branch = "sctk-cosmic"
# path = "../iced"
default-features = false
features = ["image", "svg"]

[dependencies.iced_core]
git = "https://github.com/pop-os/iced.git"
branch = "sctk-cosmic"
# path = "../iced/core"

[dependencies.iced_lazy]
git = "https://github.com/pop-os/iced.git"
branch = "sctk-cosmic"
# path = "../iced/lazy"

[dependencies.iced_native]
git = "https://github.com/pop-os/iced.git"
branch = "sctk-cosmic"
# path = "../iced/native"

[dependencies.iced_style]
git = "https://github.com/pop-os/iced.git"
branch = "sctk-cosmic"
# path = "../iced/style"

[dependencies.iced_winit]
git = "https://github.com/pop-os/iced.git"
branch = "sctk-cosmic"
optional = true
# path = "../iced/winit"

[dependencies.iced_wgpu]
git = "https://github.com/pop-os/iced.git"
branch = "sctk-cosmic"
# path = "../iced/wgpu"

[workspace]
members = [
  "examples/*",
]
