[package]
name = "libcosmic"
version = "0.1.0"
edition = "2021"

[lib]
name = "cosmic"

[features]
default = []
debug = ["iced/debug"]

[dependencies]
freedesktop-icons = "0.2.1"
apply = "0.3.0"
derive_setters = "0.1.5"
lazy_static = "1.4.0"
palette = "0.6.1"

[dependencies.cosmic-theme]
git = "https://github.com/pop-os/cosmic-theme.git"

[dependencies.iced]
git = "https://github.com/pop-os/iced.git"
branch = "sctk-cosmic"
# path = "../iced"
features = ["image", "svg"]

[dependencies.iced_core]
git = "https://github.com/pop-os/iced.git"
branch = "sctk-cosmic"
# path = "../iced/core"

[dependencies.iced_lazy]
git = "https://github.com/pop-os/iced.git"
branch = "sctk-cosmic"
# path = "../iced/lazy"

[dependencies.iced_native]
git = "https://github.com/pop-os/iced.git"
branch = "sctk-cosmic"
# path = "../iced/native"

[dependencies.iced_style]
git = "https://github.com/pop-os/iced.git"
branch = "sctk-cosmic"
# path = "../iced/style"

[dependencies.iced_winit]
git = "https://github.com/pop-os/iced.git"
branch = "sctk-cosmic"
# path = "../iced/winit"

[dependencies.iced_wgpu]
git = "https://github.com/pop-os/iced.git"
branch = "sctk-cosmic"
# path = "../iced/wgpu"

[workspace]
members = [
  "examples/*",
  "gtk4",
  "gtk4/widgets"
]
