[package]
name = "libcosmic"
version = "0.1.0"
edition = "2021"

[lib]
name = "cosmic"

[features]
default = ["dyrend", "winit", "tokio"]
debug = ["iced/debug"]
softbuffer = ["iced/softbuffer", "iced_softbuffer"]
dyrend = ["iced/dyrend"]
wayland = ["iced/wayland", "iced/dyrend", "iced_sctk"]
wgpu = ["iced/wgpu", "iced_wgpu"]
tokio = ["dep:tokio", "iced/tokio"]
winit = ["iced/winit", "iced_winit"]
applet = ["cosmic-panel-config", "sctk", "wayland"]
winit_softbuffer = ["winit", "softbuffer"]
winit_wgpu = ["winit", "wgpu"]
[dependencies]
freedesktop-icons = "0.2.2"
apply = "0.3.0"
derive_setters = "0.1.5"
lazy_static = "1.4.0"
palette = "0.6.1"
tokio = { version = "1.24.2", optional = true }
cosmic-panel-config = {git = "https://github.com/pop-os/cosmic-panel", optional = true }
sctk = { package = "smithay-client-toolkit", git = "https://github.com/Smithay/client-toolkit", optional = true, rev = "69bffe5" }
slotmap = "1.0.6"
fraction = "0.13.0"

[dependencies.cosmic-theme]
git = "https://github.com/pop-os/cosmic-theme.git"

[dependencies.iced]
path = "iced"
default-features = false
features = ["image", "svg"]

[dependencies.iced_core]
path = "iced/core"

[dependencies.iced_lazy]
path = "iced/lazy"

[dependencies.iced_native]
path = "iced/native"

[dependencies.iced_softbuffer]
path = "iced/softbuffer"
optional = true

[dependencies.iced_dyrend]
path = "iced/dyrend"
optional = true

[dependencies.iced_style]
path = "iced/style"

[dependencies.iced_sctk]
path = "iced/sctk"
optional = true

[dependencies.iced_winit]
path = "iced/winit"
optional = true

[dependencies.iced_wgpu]
path = "iced/wgpu"
optional = true

[dependencies.iced_glow]
path = "iced/glow"
optional = true

[dev-dependencies]
once_cell = "1.15"

[workspace]
members = [
  "cosmic-config",
]
exclude = [
  "iced",
]
