[Desktop Entry]
Name=Cosmic Applet Graphics
Comment=Write a GTK + Rust application
Type=Application
Exec=cosmic-applet-graphics
Terminal=false
Categories=GNOME;GTK;
Keywords=Gnome;GTK;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppletGraphics.svg
StartupNotify=true
NoDisplay=true
