Source: libcosmic
Section: utils
Priority: optional
Maintainer: Michael Aaron Murphy <michael@mmurphy.dev>
Build-Depends:
    cargo,
    clang,
    cmake,
    debhelper-compat (=13),
    just (>= 1.13.0),
    libexpat1-dev,
    libfontconfig-dev,
    libfreetype-dev,
    libxkbcommon-dev,
    mold,
    pkg-config,
    rustc,
Standards-Version: 4.6.2
Homepage: https://github.com/pop-os/libcosmic

Package: cosmic-design-demo
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: libcosmic demo displaying its design elements and capabilities
 libcosmic demo displaying its design elements and capabilities
