listview row:selected {
    transition: 100ms;
    background: #888888;
    border-radius: 8px;
}

listview row {
    transition: 100ms;
    background: #333333;
    border-radius: 8px;
}

listview {
    background: #333333;
}

box.container {
    background: #333333;
    padding: 12px;
    border-radius: 12px;
}

window.root_window {
    background: rgba(50, 50, 50, 0.0);
}
