listview {
    border-radius: 12px;
    background: #333333;
}

listview row:hover {
    transition: 100ms;
    background: #888888;
    border-radius: 12px;
    padding: 0px;
}

listview row {
    background: #333333;
    border-radius: 12px;
    padding: 0px;
}

list {
    border-radius: 12px;
    background: #333333;
}

list row:hover {
    transition: 100ms;
    background: #888888;
    border-radius: 12px;
    padding: 0px;
}

list row {
    background: #333333;
    border-radius: 12px;
    padding: 0px;
}

button:hover {
    background: #888888;
    border-radius: 12px;
    border-width: 0px;
}

button {
    background: #333333;
    border-radius: 12px;
    border-width: 0px;
}

box.dock {
    border-radius: 12px;
    background: #333333;
}

window.root_window {
    background: rgba(50, 50, 50, 0.0);
}
