listview.docklist {
    border-radius: 12px;
    background: #333333;
}

listview.docklist row:hover {
    transition: 100ms;
    background: #888888;
    border-radius: 12px;
    padding: 0px;
}

listview.docklist row {
    background: #333333;
    border-radius: 12px;
    padding: 0px;
}

button.dock_item:hover {
    transition: 300ms;
    border-width: 0px;
    background: #888888;
    border-radius: 12px;
}

button.dock_item {
    transition: 300ms;
    background: #333333;
    border-radius: 12px;
    border-width: 0px;
}

list {
    border-radius: 12px;
    background: #333333;
}

label.window_title {
    color: white;
    margin: 4px;
}

popover contents {
    border-radius: 12px;
    padding: 0px;
}

popover contents {
    border-radius: 12px;
    padding: 12px;
}

box.dock {
    border-radius: 12px;
    background: #333333;
}

window.root_window {
    background: rgba(50, 50, 50, 0.0);
}
