listview.docklist {
    border-radius: 12px;
    background: transparent;
    transition: 100ms;
}

listview.docklist row:hover {
    background: #888888CC;
    border-radius: 12px;
    padding: 0px;
}

listview.docklist row {
    transition: 100ms;
    background: transparent;
    border-radius: 12px;
    padding: 0px;
}

button:hover {
    transition: 300ms;
    border-width: 0px;
    background: #888888CC;
    border-radius: 12px;
}

button {
    transition: 300ms;
    background: transparent;
    border-radius: 12px;
    border-width: 0px;
}

list {
    border-radius: 12px;
    background: #333333CC;
}

label.window_title {
    color: white;
    margin: 4px;
}

popover contents {
    border-width: 0px;
    border-radius: 12px;
    padding: 12px;
    background: #333333DD;
}

popover arrow {
    border-width: 0px;
    border-radius: 12px;
    padding: 12px;
    background: #333333DD;
}

box.dock {
    border-radius: 12px;
    background: #333333CC;
}

image.dock {
    border-radius: 12px;
}

window.root_window {
    background: transparent;
}
