child:selected {
    transition: 100ms;
    background: #AAAAAA;
}

gridview child {
    transition: 100ms;
    border-radius: 5px;
}

gridview {
    background: #333333;
}

box.app_library_container {
    background: #333333;
    padding: 12px;
    border-radius: 12px;
}

window.root_window {
    background: rgba(50, 50, 50, 0.0);
}
